<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Chronus empowers organizations to engage, develop, and retain talent. Our software solutions foster learning and shorten time to competency through mentoring, coaching, and training. Every day, leading organizations worldwide rely on Chronus to create, manage, and measure talent and career development programs.
</p>
